# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

env/
venv/
ENV/

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Linux
*.~

# Jupyter
.ipynb_checkpoints/
